ALTER TABLE customers ADD COLUMN IF NOT EXISTS phase_no VARCHAR(255); ALTER TABLE customers ADD COLUMN IF NOT EXISTS flat_no VARCHAR(255); ALTER TABLE customers ADD COLUMN IF NOT EXISTS total_sq_yd NUMERIC(15,2); ALTER TABLE customers ADD COLUMN IF NOT EXISTS rate_purchased NUMERIC(15,2); ALTER TABLE customers ADD COLUMN IF NOT EXISTS payment_mode VARCHAR(255); ALTER TABLE products ADD COLUMN IF NOT EXISTS features TEXT; ALTER TABLE products ADD COLUMN IF NOT EXISTS price_per_sq_yard NUMERIC(15,2); ALTER TABLE products ADD COLUMN IF NOT EXISTS total_acres NUMERIC(15,2); ALTER TABLE products ADD COLUMN IF NOT EXISTS booking_advance NUMERIC(15,2); ALTER TABLE products ADD COLUMN IF NOT EXISTS r_c VARCHAR(255); ALTER TABLE products ADD COLUMN IF NOT EXISTS month_launched VARCHAR(255);
